{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'gantt-master/dist/frappe-gantt.css' %}">
    <script src="{% static 'gantt-master/dist/frappe-gantt.js' %}"> </script>
    <script src="{% static 'js/index.js' %}"> </script>
    <style>
        .modalxl{
            max-width: 60vw;
            width: 60vw;
            font-size: 10px;
        }
        .green {
            color:green;
        }
        .red {
            color :red;
        }
        .limitCol{
            max-width: 45vw;
            max-height: 10vh;
            overflow: auto;
            
        }
        .limitCol2{
            max-width: 10vw;
            max-height: 10vh;
            overflow: auto;
        }
        .limitCol3{
            max-width: 10vw;
            max-height: 5vh;
            overflow: auto;
        }
        
        .dotCut{
            text-overflow: ellipsis;
            overflow: hidden; 
            max-width: 10vw; 
            max-height: 10vh;
            white-space: nowrap;
        }

    </style>
    <title>Automator</title>
</head>

<body>
    {% csrf_token %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Automator <i class="fa fa-cog fa-spin fa-fw"></i>
        </h5>
        <h6 class="my-0 mr-md-auto font-weight-normal">
            <a href="http://control01:5555"> Flower <i class="fas fa-tasks"></i> </a>&nbsp;|&nbsp;
            <a href="http://control01:9000/sentry/{{sentry_url_suffix}}/"> Sentry <i class="fas fa-bug"></i></a>
        </h6>
        <h6 class="my-0 mr-md-auto font-weight-normal">
            I Drive:<i class="fa {% if has_i %} fa-check green {%else%} fa-times red{%endif%}"></i> &nbsp;|&nbsp;
            <form style="display: inline">
                {{ config_form.cleanup.label_tag }} 
                <input type="checkbox" name="{{ config_form.cleanup.id_for_label }}"  id="{{ config_form.cleanup.id_for_label }}" onchange="submitConfig(this.form)" {% if config_form.cleanup.value %}checked="checked"{%endif%}> &nbsp;|&nbsp;
                {{ config_form.automation.label_tag }}           
                <input type="checkbox" name="{{ config_form.automation.id_for_label }}" id="{{ config_form.automation.id_for_label }}" onchange="submitConfig(this.form)" {% if config_form.automation.value %}checked="checked"{%endif%}>
          </form>                 
        </h6>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'pipelines' %}">Pipelines</a>
            <a class="p-2 text-dark" href="{% url 'execution' %}">Automated Processes</a>
            <a class="p-2 text-dark" href="{% url 'orders' %}">Orders</a>
            <a class="p-2 text-dark" href="{% url 'queue' %}">Queue</a>
            <a class="p-2 text-dark" href="{% url 'flowcell' %}?status=hasFolder">Flowcells</a>
            <a class="p-2 text-dark" href="{% url 'admin:index' %}">Admin</a>
        </nav>


        {% if user.is_authenticated %} Logged in as: &nbsp;<b>{{ user.username }}</b> &nbsp;&nbsp;&nbsp;
            <a class="btn btn-outline-primary"  href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a class="btn btn-outline-primary"  href="{% url 'oidc_authentication_init' %}">Login</a>
        {% endif %}
    </div>

    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <div class="modal fade" id="logModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Logs for <span id="logTitle" style="overflow:hidden"></span></h5>
                </div>
                <div class="modal-body" >
                    <div id="logContent" class="text-monospace" style="max-height: 50vh;overflow-y: auto; font-size: smaller">
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal fade" id="samplesheetModal" role="dialog">
        <div class="modal-dialog modal-lg  modalxl">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> <span id="fcid"></span></h5>
                </div>
                <div class="modal-body" >
                    <div id="samplesheet" class="text-monospace" style="max-height: 75vh;overflow-y: auto;">
                    </div>
                </div>

                <div class="modal-footer" id="saveSS" style="display:hidden">
                    <button type="button" onclick="saveSS()" class="btn btn-succes">Save file</button>
                </div>                         
                
            </div>
        </div>
    </div>   

</body>

</html>

