{% extends 'base.html' %}
{% block content%}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Processes</h1>
    <p class="lead">View all automated tasks that are running on the smile cluster. 
        This might not be realtime, for a more complete overview visit 
        <a href="http://10.150.0.103:5555/">flower</a>
    </p>
</div>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" class="limitCol3">Order</th>
                    <th scope="col">Name</th>
                    <th scope="col">Started at</th>
                    <th scope="col">Completed at</th>
                    <th scope="col">Exit code</th>
                    <th scope="col">Status</th>
                    {% if user.is_authenticated %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td scope="row">{{record.id}}</td>
                    <td >
                        <div class="limitCol3">
                            {% for o in record.orders %}
                             <span>{{o}}<br></span>    
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{record.process_name}}</td>
                    <td>{{record.pipeline_started_at}}</td>
                    <td>{{record.pipeline_completed_at}}</td>
                    <td>{{record.exit_code}}</td>
                    <td>{{record.status}}</td>
                    <td style="padding:0px; padding-top: 5px;">
                        {% if  not record.pipeline_completed_at and user.is_authenticated %}
                        <button class="btn btn-danger" onclick="revokeRecord({{record.id}})">Revoke</button>
                        {% endif %}
                        {% if record.pipeline_started_at and user.is_authenticated %}
                        <button class="btn btn-info" onclick="viewLogs({{record.id}}, `{{record.command}}`)">View logs</button>
                        {% endif %}

                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            {% if records.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ records.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            <li class="page-item">
                <span class="page-link" style="pointer-events:none; color: black">
                    Page {{ records.number }} of {{ records.paginator.num_pages }}.
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% if records.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ records.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
</div>
</div>
{% endblock %}