{% extends 'base.html' %}
{% block content%}
{% load static %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Flowcell</h1>
    <p class="lead">details for {{record.pk}}
    </p>
</div>


<br><br>
<div class="container-fluid">    
    <div class="table-responsive" style="max-height: 80%;">
        <table class="table table-hover table">
            <thead>
                <tr>
                    <th scope="col">Volgnummer</th>
                    <th scope="col">IlluminaID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Type Run</th>
                    <th scope="col">Type Sequencer</th>
                    <th scope="col">Invoerdatum</th>
                    <th scope="col">Rundatum</th>
                    <th scope="col">Opmerkingen</th>
                
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{record.volgnummer}}</td>
                    <td >{{record.illuminaid_nice}}</td>
                    <td>{{record.status}}</td>   
                    <td>{{record.typerun}}</td>
                    <td>{{record.instrument_type}}</td>
                    <td>{{record.invoerdatum}}</td>
                    <td>{{record.rundatum}}</td>                                  
                    <td>{{record.opmerkingen}}</td>
                </tr>               
            </tbody>
        </table>
    </div>    
</div>

{% if user.is_authenticated %}


<div class="container-fluid row">  
    <div class="col-lg-8 offset-lg-1">
        <div class="row">
            <div class="col-xs-12" style="width: 100%">              
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
                        {% for file in record.html_files %}
                            <a class="nav-item nav-link" id="nav-{{file.name}}-tab" data-toggle="tab" href="#nav-{{file.name}}" role="tab" aria-controls="nav-{{file.name}}" aria-selected="false">{{file.name}}</a>
                        {% endfor %}
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          {% if record.is_illumina %}
                            {% include "illumina.html" %}
                        {% elif record.is_pacbio %}
                            {% include "pacbio.html" %}
                        {% elif record.is_ont%}
                            {% include "ont.html" %}
                        {% endif %}
                    </div>                    
                    {% for file in record.html_files %}
                        <div class="tab-pane fade"  id="nav-{{file.name}}" role="tabpanel" aria-labelledby="nav-{{file.name}}-tab">
                            <iframe src="/file?path={{file.path}}" frameborder="0" style="width: 100%; height: 50vh;"></iframe>
                        </div>
                    {% endfor %}
                </div>
            
            </div>
        </div>
    </div>

  
    <div class="card col-lg-3" >         
        <div class="card-body">           
            {% if record.merge_dirs|length > 0 and record.is_illumina %}      
                <h5 class="card-title">Merging</h5>                        
                <h6 class="card-subtitle mb-2 text-muted">Awaiting Additional Data</h6>
                <ul>
                    {% for dir in record.merge_dirs %}
                        <li> 
                            <span style="position: absolute;left: 10px;">Use?</span>
                            <input id="{{dir.pk}}" onclick="mergeDirClick(this)" class="form-check-input" type="checkbox" {% if dir.use %} checked {% endif %}> 
                            {{dir}} 
                        </li>
                    {% endfor %}
                </ul> 
                <hr>
                <br>                               
            {% endif %}    
            
            <h5 class="card-title">JIRA</h5>                  

            <ul style="list-style-type: none; padding-inline-start: 5px;">
                {% for ticket in tickets %}
                <li style="margin-bottom:5px;">
                    <a href="{{ticket.url}}" target="blank" class="badge badge-primary" style="font-size: larger; ">
                        {{ticket.key}}
                    </a> 
                    <a href="{{ticket.kanban_url}}" target="blank" class="badge badge-secondary" style="font-size: larger;">
                        To Kanban
                    </a> 
                </li>
                {% empty %}
                <button id="ticketButton" class="btn-success btn" onclick="createTickets({{record.pk}})">Create Tickets</button>
                {% endfor %}                  
            </ul>
        </div>
    </div>





    
    
</div>

{% endif %}

{% endblock %}