{% extends 'base.html' %}
{% block content%}
{% load static %}
{% load url_replace %}
<style>
.limitCol{
    max-width: 50vw;
    overflow: auto;
}
.limitCol2{
    max-width: 10vw;
    overflow: auto;
}
.dotCut{
    text-overflow: ellipsis;
    overflow: hidden; 
    max-width: 10vw; 
    white-space: nowrap;
}


</style>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Flowcells</h1>
    <p class="lead"> <i>{{quote}}</i>
    </p>
</div>


<div class="btn-group" style="right:50px; position: absolute;" role="group" aria-label="Basic example">
        <a href="{% url 'flowcell' %}" class="btn btn-secondary  {% if not status %}active{% endif %}">All</a>
        <a href="{% url 'flowcell' %}?status=hasFolder" class="btn btn-secondary  {% if status == 'hasFolder' %}active{% endif %}">Has Folder</a>
        <a href="{% url 'flowcell' %}?status=Sequencing" class="btn btn-secondary  {% if status == 'Sequencing' %}active{% endif %}">Sequencing</a>
        <a href="{% url 'flowcell' %}?status=Vrijgegeven" class="btn btn-secondary  {% if status == 'Vrijgegeven' %}active{% endif %}">Vrijgegeven</a>
        <a href="{% url 'flowcell' %}?status=Run klaar" class="btn btn-secondary {% if status == 'Run klaar' %}active{% endif %}">Run klaar</a>
        <a href="{% url 'flowcell' %}?status=Afgekeurd" class="btn btn-secondary {% if status == 'Afgekeurd' %}active{% endif %}">Afgekeurd</a>
        <a href="{% url 'flowcell' %}?status=pacbio" class="btn btn-secondary {% if status == 'pacbio' %}active{% endif %}">PacBio</a>
        <a href="{% url 'flowcell' %}?status=illumina" class="btn btn-secondary {% if status == 'illumina' %}active{% endif %}">Illumina</a>
        <a href="{% url 'flowcell' %}?status=ont" class="btn btn-secondary {% if status == 'ont' %}active{% endif %}">ONT</a>
        <a href="{% url 'flowcell' %}?status=other" class="btn btn-secondary {% if status == 'other' %}active{% endif %}">Other</a>
        <a href="{% url 'flowcell' %}?status=Null" class="btn btn-secondary {% if status == 'Null' %}active{% endif %}">Null</a>
        <form action="javascript:void(0);"  autocomplete="off">
            <div class="input-group ">
            
                <input type="text" id="searchText"  autocomplete="off" class="form-control" placeholder="Type your query" value="{{search_query}}" aria-describedby="basic-addon1" style="width: 500px;">
                <div class="input-group-append">
                    <button 
                        class="btn btn-primary enter" 
                        onclick="searchQ(document.getElementById('searchText').value)">Search</button>
                    </div>
                </div>
             </div>
        </form>
<br><br>    
<div class="container-fluid">
  
    <div class="table-responsive" style="max-height: 80%;">
        <table class="table table-hover table">
            <thead>
                <tr>
                    <th scope="col">Volgnummer</th>
                    <th scope="col">Flowcell ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Type Run</th>
                    <th scope="col">Type Sequencer</th>
                    <th scope="col">Invoerdatum</th>
                    <th scope="col">Rundatum</th>
                    <th scope="col">Run Completed</th>
                    <th scope="col">Demultiplexed</th>
                    <th class="limitCol2" scope="col">Opmerkingen</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr  {% if user.is_authenticated  %} style="cursor: pointer;" onclick="document.location = `{% url 'flowcell_details' record.pk %}`"  {% endif %} >
                    <td scope="row">{{record.volgnummer}}</td>
                    <td >{{record.illuminaid_nice}}</td>
                    <td>{{record.status}}</td>   
                    <td>{{record.typerun}}</td>
                    <td>{{record.instrument_type}}</td>
                    <td>{{record.invoerdatum}}</td>
                    <td>{{record.rundatum}}</td>  
                    <td>{{record.is_run_completed}}</td>       
                    <td>{{record.is_demultiplexed}}</td>                                        
                    <td class="limitCol2">{{record.opmerkingen}}</td>
                </tr>            
                    
                {% empty %}
                <div class="alert alert-warning" role="alert">
                    No records found!
                </div>    
                {% endfor%}
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            {% if records.has_previous %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=records.previous_page_number %}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            <li class="page-item">
                <span class="page-link" style="pointer-events:none; color: black">
                    Page {{ records.number }} of {{ records.paginator.num_pages }} ({{total}} records).
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% if records.has_next %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=records.next_page_number %}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
</div>



{% endblock %}