        <div class="card-body">
                <div class="row">
                    <div class="col-lg-4"  style="word-break: break-all;">
                        <h5 class="card-title">Project Properties</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Folder: {{record.data_folder}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Demultiplexed: {{record.is_demultiplexed}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Run completed: {{record.is_run_completed}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Projects: {% for p in record.projects%}{{p.pk}},{%endfor%}</h6>
                    </div>  
                    <div class="col-lg-4">
                        <h5 class="card-title">Folder Content</h5>
                        <ul  style="list-style-type:none; overflow-y: scroll; max-height: 20vh;">
                            {% for is_folder, item in record.folder_content %}
                            <li>
                                {% if is_folder %}
                                    <i class="fa fa-folder" style="color:blue"; aria-hidden="true"></i>
                                {%else%}
                                    <i class="fa fa-file"   style="color:grey"; aria-hidden="true"></i>
                                {%endif%}
                                {{item}}
                            </li>
                            {%endfor%}
                        </ul>
                    </div>    
                    <div class="col-lg-4">
                        {% if record.samplesheet_file  %}    
                            <button class="btn" onclick="viewSS({{record.pk}})">View Samplesheet (on disk)</button>
                        {% else %}
                            <button class="btn" disabled>View Samplesheet (on disk)</button>
                        {% endif %}
                            <button class="btn" onclick="viewSS({{record.pk}}, true, '{{record.data_folder}}')">Generate new Samplesheet</button>
                            
                        {% if record.unchecked_plates and record.samplesheet_file %}
                            <button class="btn" onclick="checkAditionalSS({{record.pk}})">Check linked SampleSheets</button>
                        {% else %}
                            <button class="btn" disabled>Check linked SampleSheets</button>
                        {% endif %}
                    </div>
                </div>

            <br>
            
            {% if not record.exceptions %}

            <div class="row">
                <div class="col-lg-6">
                    {% if record.xlsx_files %}              
                    <h6 class="card-subtitle mb-2 text-muted"> 
                        Xlsx files found on I drive and in Data Folder
                        {% if record.unseen_plates_repr %}
                        <button id="XlPattern" onclick="toggleXlPattern()" 
                                class="btn btn-sm btn-outline-primary"
                                style="right: 35px;top: -10px; position: absolute;">
                                Match Plate Patterns
                        </button>
                        {% endif %}
                    </h6>                           
                  
                    <ul id="xlList" style="max-height: 150px; overflow:auto;"> 
                        {% for file in record.xlsx_files %}
                        <li id="{{file.0}}">
                            <a href={% url 'download' file.0 record.pk %} download="{{file.0}}">{{file.0}}</a>                  
                        </li>   
                        {% empty %}
                        <div class="alert alert-warning" role="alert">
                            No file(s) found!
                        </div> 

                        {% endfor%}
                    </ul>
                    {% endif %}              
                </div>
                <div class="col-lg-6">
                    


                    {% if record.unseen_plates_repr %}
                    <h6 class="card-subtitle mb-2 text-muted"> Plates in Samplesheet without linked xlsx file</h6>    
                    <ul id="pList" style="max-height: 150px; overflow:auto;">
                        {% for plate in record.unseen_plates_repr %}
                        <li>{{plate}}</li>
                        {% endfor%}
                    </ul>
                    {% endif %}
                    {% if record.linked_plates %}
                    <h6 class="card-subtitle mb-2 text-muted"> Plates in Samplesheet with linked xlsx file</h6>    
                    <ul style="max-height: 150px; overflow:auto;">
                        {% for link in record.linked_plates %}
                        <li> <button type="button" class="close" aria-label="Close" onclick="deleteLink({{link.pk}})" style="color:red;">
                                <span aria-hidden="true">&times;</span>
                        </button> {{link.plate_id}} &nbsp; -->  &nbsp; {{link.name}} 
                            {% if link.checked %}
                                <i class="fa fa-check" style="color:green"></i>
                            {% endif %}
                        </li>                               
                        {% endfor%}
                    </ul> 
                    {% endif %}
                </div>
            </div>
            
           

            {% if record.unseen_plates_repr %}
            <div class="row">
                <form class="form-inline" method="POST">
                    {% csrf_token %}
                    <select id="oList" class="form-control" style="font-size: smaller" name="file">
                        {% for file in record.xlsx_files %}
                        <option id="{{file.0}}$oList" value="{{file.1}}">{{file.0}}</option>
                        {% endfor%}
                    </select>        
            
                    <select class="form-control" style="font-size: smaller" name="plate" >
                        {% for plate in record.unseen_plates_repr %}
                        <option>{{plate}}</option>
                        {% endfor%}
                    </select>
    
                <input type="submit" class="btn" value="Link plate">
                </form>
            </div>
            <br>    
            {% else %}
      
                {% if record.samplesheet_file %}     
                <form class="row" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="fcid" value="{{record.pk}}"/>
                    <input type="submit" class="btn btn-primary btn-block" value="Run Pipeline
                    {% if not record.is_run_completed %}
                    (wait for complete)
                    {% endif %}" />
                </form>     
                <br>
            
                {% elif not record.samplesheet_file  %}    

                <div class="alert alert-warning" role="alert">
                    No demultiplexing sampleheet found at {{record.data_folder}} found! 
                    (Generate new sampleheet)
                </div>            
                {% endif %}
            {% endif %}



            {% if record.is_demultiplexed %}             
                <div class="container-fluid">    
                    <div class="table-responsive table-sm" style="max-height: 80%;font-size: smaller;">
                        <table class="table table-hover table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">FCID</th>
                                    <th scope="col">PID</th>
                                    <th scope="col">Command</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Started at</th>
                                    <th scope="col">Completed at</th>
                                    <th scope="col">Result</th>               
                                    <th scope="col">Runtime</th>
                                    <th scope="col">Action</th>                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for demuxrecord in record.demultiplexing_records %}
                                <tr>
                                    <td scope="row">{{demuxrecord.id}}</td>
                                    <td >{{demuxrecord.flowcell_id}}</td>
                                    <td >{{flowcell_id.pid}}</td>                 
                                    <td  class="limitCol">
                                        <code>
                                            {{demuxrecord.runcommand}}
                                        </code>
                                    </td>
                                    <td>{{demuxrecord.status}}</td>
                                    <td>{{demuxrecord.pipeline_started_at}}</td>
                                    <td>{{demuxrecord.pipeline_completed_at}}</td>
                                    <td>{{demuxrecord.exit_code}}</td>
                                    <td>{{demuxrecord.runtime}}</td>
                                
                                    <td style="padding:0px; padding-top: 5px;">
                                        {% if not demuxrecord.pipeline_completed_at and user.is_authenticated %}
                                        <button class="btn btn-danger btn-sm" onclick="revokeRecord({{demuxrecord.id}})">Revoke</button>
                                        {% endif %}
                                        {% if demuxrecord.pipeline_started_at != None and user.is_authenticated %}
                                        <button class="btn btn-info btn-sm" onclick="viewLogs({{demuxrecord.id}}, `{{demuxrecord.command}}`)">View logs</button>
                                        {% endif %}
                                    </td>                                
                                </tr>

                                {% empty %}
                                <tr><td colspan="10">
                                <div class="alert alert-warning" role="alert">
                                    No demultiplexing record(s) found. However, this flowcell is already demultiplexed (Data/Intensities/BaseCalls/SequenceData/ exists)
                                </div> 
                                </td>
                                </tr>
                                {% endfor %}                
                            </tbody>
                        </table>
                    </div> 
                </div>
                <br>
            {% endif %}


            {% else %}
            <div class="alert alert-danger" role="alert">
                <strong>There were errors with the samplesheet for this flowcell:</strong> 
                {{record.exceptions}}
            </div>

            {% endif %}     
            
        </div>