        <div class="card-body">
            <div class="row">
                <div class="col-lg-6"     style="word-break: break-all;">
                    <h5 class="card-title" >Project Properties</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Folder: {{record.data_folder}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Demultiplexed: {{record.is_demultiplexed}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Run completed: {{record.is_run_completed}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Projects: {% for p in record.projects%}{{p.pk}},{%endfor%}</h6>
                </div>  

                <div class="col-lg-6">
                    <h5 class="card-title">Folder Content</h5>
                    <ul  style="list-style-type:none; overflow-y: scroll; max-height: 20vh;">
                        {% for is_folder, item in record.folder_content %}
                        <li>
                            {% if is_folder %}
                                <i class="fa fa-folder" style="color:blue"; aria-hidden="true"></i>
                            {%else%}
                                <i class="fa fa-file"   style="color:grey"; aria-hidden="true"></i>
                            {%endif%}
                            {{item}}
                        </li>
                        {%endfor%}
                    </ul>
                </div>    
            </div>
            <br>    
        </div>
    