{% extends 'base.html' %}
{% block content%}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Orders</h1>
    <p class="lead">View all orders that have samples that are done sequencing, but of which data is not released yet.
    </p>
</div>




<div class="container-fluid">
    <div class="table-responsive" style="max-height: 80%">
        <table class="table table-hover table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Customer</th>            
                    <th scope="col">Articles</th>
                    <th scope="col"># Samples</th>
                    <th scope="col">Dienst</th>                
                    <th scope="col">Is custom</th>
                    <th scope="col">Can be used</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td scope="row">{{record.opdrachtcode}}</td>
                    <td>{{record.klantnummer.contactpersoon}}</td>
                    <td >
                        <div style=" height: 50px; overflow: auto;">
                            {% for a in record.all_artikelen %}
                            <span style="{% if a.process%} font-weight:bold;{% endif %}">{{a.produktnummer}} {{a.hoeveelheid}}x</span><br>
                            {% endfor %}
                        </div>
                       
                    </td>
                    <td>{{record.n_samples}}</td>
                    <td>{{record.dienst}}</td>
                    <td>
                        {% if record.nextgen.is_custom %}
                            <i style="color: green" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red" class="fas fa-times"></i>
                        {% endif %}
                        </td>
                    <td>
                        {% if record.can_be_used %}
                            <i style="color: green" class="fas fa-check"></i>
                        {% else %}
                            <i style="color: red" class="fas fa-times"></i>
                        {% endif %}
                    </td>
                          
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            {% if records.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ records.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            <li class="page-item">
                <span class="page-link" style="pointer-events:none; color: black">
                    Page {{ records.number }} of {{ records.paginator.num_pages }}.
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% if records.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ records.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
</div>
</div>
{% endblock %}