    <div class="card-body">
        <div class="row">
            <div class="col-lg-4"  style="word-break: break-all;">
                <h5 class="card-title">Project Properties</h5>
                <h6 class="card-subtitle mb-2 text-muted">Folder: {{record.data_folder}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Demultiplexed: {{record.is_demultiplexed}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Run completed: {{record.is_run_completed}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Projects: {% for p in record.projects%}{{p.pk}},{%endfor%}</h6>
            </div>  

            <div class="col-lg-4">
                    <h5 class="card-title">Folder Content</h5>
                    <ul  style="list-style-type:none; overflow-y: scroll; max-height: 20vh;">
                        {% for is_folder, item in record.folder_content %}
                        <li>
                            {% if is_folder %}
                                <i class="fa fa-folder" style="color:blue"; aria-hidden="true"></i>
                            {%else%}
                                <i class="fa fa-file"   style="color:grey"; aria-hidden="true"></i>
                            {%endif%}
                            {{item}}
                        </li>
                        {%endfor%}
                    </ul>
                </div>    

            <div class="col-lg-4">
                {% if record.samplesheet_file  %}    
                    <button class="btn" onclick="viewSS({{record.pk}})">View Samplesheet (on disk)</button>
                {% else %}
                    <button class="btn" disabled>View Samplesheet (on disk)</button>
                {% endif %}
                <button class="btn" onclick="viewSS({{record.pk}}, true)">Generate new Samplesheet</button>
            </div>
        </div>
        <br>

        {% if record.samplesheet_file %}     
        <form class="row" method="POST">
            {% csrf_token %}
            <input type="hidden" name="fcid" value="{{record.pk}}"/>
            <input type="submit" class="btn btn-primary btn-block" value="Run Pipeline
            {% if not record.is_run_completed %}
            (wait for complete)
            {% endif %}" />
        </form>     
        <br>
    
        {% elif not record.samplesheet_file  %}    

        <div class="alert alert-warning" role="alert">
            No demultiplexing sampleheet found at {{record.data_folder}} found! 
            (Generate new sampleheet)
        </div>            
        {% endif %}

        {% if record.is_demultiplexed %}             
                <div class="container-fluid">    
                    <div class="table-responsive table-sm" style="max-height: 80%;font-size: smaller;">
                        <table class="table table-hover table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">FCID</th>
                                    <th scope="col">PID</th>
                                    <th scope="col">Command</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Started at</th>
                                    <th scope="col">Completed at</th>
                                    <th scope="col">Result</th>               
                                    <th scope="col">Runtime</th>
                                    <th scope="col">Action</th>                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for demuxrecord in record.demultiplexing_records %}
                                <tr>
                                    <td scope="row">{{demuxrecord.id}}</td>
                                    <td >{{demuxrecord.flowcell_id}}</td>
                                    <td >{{flowcell_id.pid}}</td>                 
                                    <td  class="limitCol">
                                        <code>
                                            {{demuxrecord.runcommand}}
                                        </code>
                                    </td>
                                    <td>{{demuxrecord.status}}</td>
                                    <td>{{demuxrecord.pipeline_started_at}}</td>
                                    <td>{{demuxrecord.pipeline_completed_at}}</td>
                                    <td>{{demuxrecord.exit_code}}</td>
                                    <td>{{demuxrecord.runtime}}</td>
                                
                                    <td style="padding:0px; padding-top: 5px;">
                                        {% if not demuxrecord.pipeline_completed_at and user.is_authenticated %}
                                        <button class="btn btn-danger btn-sm" onclick="revokeRecord({{demuxrecord.id}})">Revoke</button>
                                        {% endif %}
                                        {% if demuxrecord.pipeline_started_at != None and user.is_authenticated %}
                                        <button class="btn btn-info btn-sm" onclick="viewLogs({{demuxrecord.id}}, `{{demuxrecord.command}}`)">View logs</button>
                                        {% endif %}
                                    </td>                                
                                </tr>

                                {% empty %}
                                <tr><td colspan="10">
                                <div class="alert alert-warning" role="alert">
                                    No demultiplexing record(s) found. However, this flowcell is already demultiplexed ({{record.default_output_folder}} exists)
                                </div> 
                                </td>
                                </tr>
                                {% endfor %}                
                            </tbody>
                        </table>
                    </div> 
                </div>
                <br>
            {% endif %}
            


    </div>
