{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load url_replace %}
{% block content%}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pipelines</h1>
    <p class="lead"> Pipeline definition and customization</p>
</div>
    

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h2 class="col">Pipelines</h2>
                        <div class="col text-right" >
                            <a class="btn btn-primary" href="{% url 'pipelines' %}">New</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-hover table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                    </tr>
                                </thead>
                                <tbody style="max-height: 50vh; overflow-y: scroll;">
                                        {% for record in records %}
                                        <tr  {% if user.is_authenticated %} style="cursor: pointer;" onclick="document.location = `{% url 'pipelines' %}{{ record.pk }}`" {% endif %} >
                                            <td scope="row">{{record.id}}</td>
                                            <td>{{record.base_name}}</td>                                       
                                        </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    
                </div>

                <div class="card-footer">
                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if records.has_previous %}
                            <li class="page-item"><a class="page-link"  href="?{% url_replace page=records.previous_page_number %}">Previous</a></li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">Previous</span></li>
                            {% endif %}
                            <li class="page-item">
                                <span class="page-link" style="pointer-events:none; color: black">
                                    Page {{ records.number }} of {{ records.paginator.num_pages }}.
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            {% if records.has_next %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=records.next_page_number %}">Next</a></li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">Next</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>  
        </div>


     

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h2>Customize {{form.instance.base_name}}</h2>
                </div>
                <div class="card-body" style="max-height: 50vh; overflow-y: scroll;">
                    <form method="POST" class="post-form">{% csrf_token %}
                        {{ form |crispy }}
                        <button type="submit" class="save btn btn-success">Save</button>
                    </form>
                </div>
            </div>        
        </div>
    </div>
</div>

{% endblock %}