{% extends 'base.html' %}
{% block content%}
{% load static %}
{% load url_replace %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Queue</h1>
    <p class="lead">View all processes running on the smile server using the queue system.
            This might not be realtime, for a more complete overview visit 
            <a href="http://10.150.0.103:5555/">flower</a> 
        </br>
        There are currently {{currently_running}} active processes, 
        <a href="{% url 'queue' %}{% if status == 'active' %}">click here</a> to show all processes
        {% else %}?status=active"> click here</a> to show only the active processes
        {% endif %}
        
    </p>

    <div class="container" >
        <style>
            .svgWrapper .gantt-container {
                max-height: 200px;
            }
        </style>
        <div class="svgWrapper" >
            <svg id="gantt" style="overflow:visible" ></svg>
        </div>
        <script>
            fetch("{% url 'gantt' %}")
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    if (data.status == 200 && data.records.length > 1){
                        var gantt = new Gantt("#gantt", data.records.map(v => {
                            return {
                                ...v,
                                'start': new Date(Number(v.start)*1000),
                                'end': new Date(Number(v.end)*1000),
                            }
                        }),
                        {
                            view_mode:'Quarter Day',
                            on_click: (task) => {window.location.replace(  
                                `{% url 'queue' %}${task.id}`
                            )},
                        });
                        
                    }
                });
                
           
        </script>
    </div>
    
        

    <form action="javascript:void(0);"  autocomplete="off">
        <div class="input-group mb-3">
            <input type="text" id="searchText" class="form-control"  placeholder="Type your query" value="{{search_query}}" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary enter" id="basic-addon2" onclick="searchQ(document.getElementById('searchText').value)">Search</button>
            </div>
        </div>
    </form>
    

</div>

<div class="container-fluid">
    

    <div class="table-responsive" style="max-height: 80%">
        <table class="table table-hover table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">PID</th>
                    <th scope="col">(Assumed) Project</th>
                    <th scope="col">Run Directory</th>
                    <th scope="col">Command</th>
                    <th scope="col">Status</th>
                    <th scope="col">Started at</th>
                    <th scope="col">Completed at</th>
                    <th scope="col">Result</th>               
                    <th scope="col">Runtime</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td scope="row">{{record.id}}</td>
                    <td >{{record.pid}}</td>
                    <td >{{record.assumed_project}}</td>

                    <td>
                        <div class="limitCol2">
                            {{record.working_directory}}
                        </div>
                    </td>
                    <td>
                        <div class="limitCol">
                            {{record.command_nice}}
                        </div>
                    </td>
                    <td>{{record.status}}</td>
                    <td>{{record.pipeline_started_at}}</td>
                    <td>{{record.pipeline_completed_at}}</td>
                    <td>{{record.exit_code}}</td>
                    <td>{{record.runtime}}</td>
               
                    <td style="padding:0px; padding-top: 5px;">
                        {% if user.is_authenticated %}
                            {% if not record.pipeline_completed_at %}
                            <button class="btn btn-danger" onclick="revokeRecord({{record.id}})">Revoke</button>
                            {% endif %}
                            {% if record.pipeline_started_at != None %}
                            <button class="btn btn-info" onclick="viewLogs({{record.id}}, `{{record.command}}`)">View logs</button>
                            {% endif%}
                            {% if record.pipeline_completed_at %}
                            <button class="btn btn-warning" onclick="retryRecord({{record.id}})">Retry</button>
                            {% endif %}
                        {% endif %}
                    </td>                                
                </tr>
                {% empty %}              
                <div class="alert alert-warning" role="alert">
                    No records found!
                </div>    
                {% endfor%}
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            {% if records.has_previous %}
            <li class="page-item"><a class="page-link"  href="?{% url_replace page=records.previous_page_number %}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            <li class="page-item">
                <span class="page-link" style="pointer-events:none; color: black">
                    Page {{ records.number }} of {{ records.paginator.num_pages }}.
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% if records.has_next %}
            <li class="page-item"><a class="page-link" href="?{% url_replace page=records.next_page_number %}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
</div>




{% endblock %}
